In [16]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [17]:
df= pd.read_csv('Question_1_Case_Analysis.csv')

In [18]:
df.head()

   Month  Location 1  Location 2  Location 3  Location 4  CSI
0      1         745         785         865         760    8
1      2         785         830         860         740    9
2      3         760         825         870         715    8
3      4         790         800         860         745    9
4      5         755         785         850         770    8

In [19]:
cols = ['Location 1','Location 1','Location 3','Location 4']
df['Avg_Location'] = df[cols].mean(axis=1)

In [20]:
df.head()

   Month  Location 1  Location 2  Location 3  Location 4  CSI  Avg_Location
0      1         745         785         865         760    8        778.75
1      2         785         830         860         740    9        792.50
2      3         760         825         870         715    8        776.25
3      4         790         800         860         745    9        796.25
4      5         755         785         850         770    8        782.50

In [1]:
df.to_csv('Question_1_Case_Analysis_Good.csv', index = False)

NameError: name 'df' is not defined